# Binaries for programs and plugins
*.exe
*.exe~
*.so
*.dylib
*.dll

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.gitattributes


data/
*.dat*
*.rar*
metadata.bin
*.prof


.idea
# Go workspace file
go.work

